
/* From big tablets to 1200px(widhs smaller than the 1140px row)*/
@media only screen and (max-width:1200px) {

    .hero-text-box {
    width: 100%;
    padding: 0 2%;
    }

    .row {
        padding: 0 2%;
    }
}








/*small tablets to big tablets from 768px to 1023px*/
@media only screen and (max-width:1023px) {


    body{ font-size: 18px;}

    section { padding: 60px 0; }

    .long-copy {
        width: 80%;
        margin-left: 10;
    }

    .work-step { margin-bottom: 40px; }
    .work-step:last-of-type { margin-bottom: 60px; }


    .app-screen { width:50%; }

    .btn-app img {height: 40px; }

    .icon-small {
        width: 17px;
        margin-right: 5px;
    }

    .city-feature { font-size: 90%; }

    .plan-box {
        width: 100%;
        margin-left: 0%;
        -webkit-box-shadow: 0px 2px 10px;
        box-shadow: 0px 2px 10px;
    }

   .plan-price { font-size: 250%; }

    .contact-form { width: 80%;}

    .long-copy {
        width: 100%;
        margin-left: 2%;
    }

}








/* This for small phones to small tablets with resolution from 481 to 767px */
@media only screen and (max-width:767px) {

    body { font-size: 16px; }
    section { padding: 30px 0; }

   .row,
   .hero-text-box { padding: 0 4%;}
    .col {
        width: 100%;
        margin: 0% 0 4% 0%;
    }


    .main-nav { display: none; }

    .mobile-nav-icon { display: inline-block;}

    .main-nav {
        float: left;
        margin-top: 25px;
        margin-left: 25px;
    }

    .main-nav li {
        display: block;
    }


    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 100%;
    }


    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited{ padding: 10px 0; }

    .sticky .main-nav { margin-top:10px;}


    .sticky .mobile-nav-icon i { color: #555; }
    .sticky .mobile-nav-icon { margin-top: 15px; }



    h1 {
        font-size: 170%;
        font-weight: 300;
    }
    h2 { font-size: 130%; }

    .long-copy {
        width: 100%;
        margin-left: 0%;
    }

.steps-box:first-child {
    text-align: center;
}


    .contact-form { width: 90%;}

    .box img {
        margin-top: 10px;
    }

    input[type=submit] {
        margin-left: 35%;
    }

    .work-step { margin-bottom: 20px; }
    .work-step:last-of-type { margin-bottom: 30px; }

    .work-step div {
    height: 35px;
    width: 35px;
    padding: 2px;
    font-size: 130%;
    margin-right: 15px;
}

    .app-screen { width:45%; }

}






/* This for small phones with resolution from 0 to 480px */
@media only screen and (max-width:480px) {

}
