* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: #fff;
    color: #5f5f5f;
    font-family: 'Lato','Arial',sans-serif;
    font-weight: 300;
    font-size: 21px;
    text-rendering: optimizeLegibility;
}
.row {
    max-width: 1140px;
    margin: 0 auto 0 auto;
}
header {
    background-image: linear-gradient( rgba(0, 0, 0, 0.7) , rgba(0, 0, 0, 0.7) ), url(img/hero.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); /*used for 2d translation*/
}
h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    word-spacing: 3px;
    letter-spacing: 1px;
}
.btn:link,
.btn:visited{
    display: inline-block; /* this will create a block whose margins and padding can be set manually */
    padding: 10px 30px; /* used for giving padding to the button top and left */
    /* if px is not written that the values will be used as top and bottom 10 and left and right 30 */
    font-weight: 300;
    text-decoration: none; /*to get rid of the underline */
    border-radius: 200px; /* make a radius for the button */
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn:hover,
.btn:active{
     background-color: #bf6516;
}

.btn-full:link,
.btn-full:visited{
    background-color: #e67e22; /* this will give a background color to the button */
    border: 1px solid #e67e22;
    color: #fff; /*color of the text inside te button*/
    margin-right: 10px;
}

.btn-full:active,
.btn-full:hover{
    border: 1px solid #bf6516;
    background-color: #bf6516;

}

.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #e67e22; /* solid is used to draw a border line */
    color: #e67e22;
}

.btn-ghost:active,
.btn-ghost:hover{
    border: 1px solid #bf6516; /* solid is used to draw a border line */
    color: #fff;
}
