/*

Orange color #e67e22

*/

/*------------------------------------------------------*/
/*BASIC SETUP*/
/*------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    background-color: #fff;
    color: #5f5f5f;
    font-family: 'Lato','Arial',sans-serif;
    font-weight: 300;
    font-size: 21px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}
.clearfix{zoom: 1}
.clearfix:after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
/*------------------------------------------------------*/
/*REUSABLE COMPONENTS*/
/*------------------------------------------------------*/
.row {
    max-width: 1140px;
    margin: 0 auto 0 auto;
}
/*------HEADINGS--------*/
h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}
h1{
    margin: 0 0 20px 0;
    color: #fff;
    word-spacing: 3px;
    font-size: 240%;
    letter-spacing: 1px;
}
h2{
    text-align: center;
    font-size: 180%;
    word-spacing: 2px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
h2:after{
    display: block;
    height: 3px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 30px auto;
}
h3 {
    padding-bottom: 15px;
    font-size: 110%;
}
/*------PAAGRAPH--------*/
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box {
    margin-left: 1px;
}

.box p {
    line-height: 145%;
    font-size: 90%;
}
/*------ICONS--------*/
.icon-big {
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin: 10px;
}
.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    margin-right: 10px;
    /*secrets to align text and icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}
/*------LINKS--------*/

a:link,
a:visited {
    color: #e67e22;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
    transition: border-bottom 0.2s,color 0.2s;
}
a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
}


/*------BUTTONS--------*/
.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block; /* this will create a block whose margins and padding can be set manually */
    padding: 10px 30px; /* used for giving padding to the button top and left */
    /* if px is not written that the values will be used as top and bottom 10 and left and right 30 */
    font-weight: 300;
    text-decoration: none; /*to get rid of the underline */
    border-radius: 200px; /* make a radius for the button */
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn:hover,
.btn:active {
     background-color: #cf6d17;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #e67e22; /* this will give a background color to the button */
    border: 1px solid #e67e22;
    color: #fff; /*color of the text inside te button*/
    margin-right: 10px;
}

.btn-full:active,
.btn-full:hover,
input[type=submit]:active,
input[type=submit]:hover {
    border: 1px solid #cf6d17;
    background-color: #cf6d17;

}

.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #e67e22; /* solid is used to draw a border line */
    color: #e67e22;
}

.btn-ghost:active,
.btn-ghost:hover {
    border: 1px solid #cf6d17; /* solid is used to draw a border line */
    color: #fff;
}

section {
    padding: 80px 0;
}

/*------------------------------------------------------*/
/*FEATURES*/
/*------------------------------------------------------*/
.section-features .long-copy {
    margin-bottom: 30px;
}

/*------------------------------------------------------*/
/*HEADER*/
/*------------------------------------------------------*/
header {
    background-image: linear-gradient( rgba(0, 0, 0, 0.7) , rgba(0, 0, 0, 0.7) ), url(img/hero.jpg);
    height: 100vh; /* vh is used for filling the whole view port with the image */
    background-size: cover; /* thhis will  make the image fill the whole front end of the screen */
    background-position: center; /* center the image according to the screens size */
    background-attachment: fixed;
}
.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); /* used for 2d translation */
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {    /* this format is used to select element inside an element here by putting li all the li elements are being selected*/
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
    padding-bottom: 5px;
    padding-top: 5px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%; /*here to make the webpage relative use the percentage as it will resize the text a relative order here 90% means 90% of the absolute text size that is 21px so the size is 19px*/
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s, color 0.2s;
}
.main-nav li a:active,
.main-nav li a:hover{
    border-bottom: 2px solid #e67e22;
    color: aqua;
}

/*------------------------------------------------------*/
/*MEALS*/
/*------------------------------------------------------*/
.meals-showcase {
    list-style: none;
    width: 100%;
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;

}

.meals-photo {
    width: 100%;
    margin; 0;
    overflow: hidden;
    background: #000;
}
.meals-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.2s, opacity 0.2s;
}

.meals-photo img:hover {
    transform: scale(1.04);
    opacity: 1;
}

.section-meals {
    padding: 0px;
}
/*------------------------------------------------------*/
/*HOW IT WORKS*/
/*------------------------------------------------------*/


.section-steps {
    background-color: #efecec;
}

.steps-box:first-child {
    text-align: right;/*this is used to align the image to the right. text align property can be used with not only the text but also with all the inline elements like images*/
    padding-right: 3%;
    margin-top: 30px;
}

.steps-box:last-child{
    text-align: left;
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen {
    width: 40%
}

.work-step {
    margin-bottom: 50px;
}

.work-step:last-of-type {
    margin-bottom: 80px;
}

.work-step div {
    color: #e67e22;
    border: 2px solid #e67e22;
    display: inline-block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}

.btn-app:link,
.btn-app:visited {
    border: 0;
}


.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}

/*------------------------------------------------------*/
/*CITIES*/
/*------------------------------------------------------*/

.box img {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.cities-feature {
    margin-bottom: 5px;
}

/*------------------------------------------------------*/
/*TESTIMONIALS*/
/*------------------------------------------------------*/
.section-testimonials {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url(img/back-customers.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 140%;
    position: relative;
    margin-top: 40px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}

cite img {
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

/*------------------------------------------------------*/
/*SIGN UP*/
/*------------------------------------------------------*/

.section-plans {
    background-color: #efecec;
}

.plan-box {
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0px 2px 20px #1c1a1a;
}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #f4f1f1;
}

.plan-box div:first-child{
    background-color: #fffbfb;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.plan-box div:last-child {
    text-align: center;
    border: none;
}

.plan-price {
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #e67e22;
}

.plan-price-meal {
    font-size: 80%;

}

.plan-price span {
    font-size: 40%;
    font-weight: 300;
}

.plan-box ul {
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0;
}

/*------------------------------------------------------*/
/*CONTACT-FORM*/
/*------------------------------------------------------*/

.contact-form {
    width: 60%;
    margin: 0 auto;
}
input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    font-size: 100%;
    font-weight: 300;
    font-family: lato;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}


textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0px;
}

*:focus {outline: none;}

.section-form {
    padding-bottom: 1px;
}
/*------------------------------------------------------*/
/*FOOTER/
/*------------------------------------------------------*/
footer {
    background-color: #333;
    padding: 40px;
}

.footer-nav {
    list-style: none;
    float: left;
    font-family: lato;
    font-weight: 300;
    font-size: 70%
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    transition: color 0.3s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

footer p {
    text-align: center;
    font-size: 90%;
    margin-top: 30px;
}

.social-links li a:link,
.social-links li a:active {
    font-size: 118%
}

.fb,
.tweet,
.google,
.insta,
{
    transition: color 0.2s
}



.fb:hover {
    color: #3b5998;
}

.tweet:hover {
    color: #00aced;
}
.google:hover {
    color: #dd4b39;
}
.insta:hover {
    color: #517fa4;
}
