/*

Orange color #e67e22

*/

/*------------------------------------------------------*/
/*BASIC SETUP*/
/*------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: #fff;
    color: #5f5f5f;
    font-family: 'Lato','Arial',sans-serif;
    font-weight: 300;
    font-size: 21px;
    text-rendering: optimizeLegibility;
}
/*------------------------------------------------------*/
/*REUSABLE COMPONENTS*/
/*------------------------------------------------------*/
.row {
    max-width: 1140px;
    margin: 0 auto 0 auto;
}
/*------HEADINGS--------*/
h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}
h1{
    margin: 0 0 20px 0;
    color: #fff;
    word-spacing: 3px;
    font-size: 240%;
    letter-spacing: 1px;
}
h2{
    text-align: center;
    font-size: 180%;
    word-spacing: 2px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
h2:after{
    display: block;
    height: 3px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 30px auto;
}
h3 {
    padding-bottom: 15px;
    font-size: 110%;
}
/*------PAAGRAPH--------*/
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box {
    margin-left: 1px;
}

.box p {
    line-height: 145%;
    font-size: 90%;
}
/*------ICONS--------*/
.icon-big {
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin: 10px;
}
/*------BUTTONS--------*/
.btn:link,
.btn:visited {
    display: inline-block; /* this will create a block whose margins and padding can be set manually */
    padding: 10px 30px; /* used for giving padding to the button top and left */
    /* if px is not written that the values will be used as top and bottom 10 and left and right 30 */
    font-weight: 300;
    text-decoration: none; /*to get rid of the underline */
    border-radius: 200px; /* make a radius for the button */
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn:hover,
.btn:active {
     background-color: #bf6516;
}

.btn-full:link,
.btn-full:visited {
    background-color: #e67e22; /* this will give a background color to the button */
    border: 1px solid #e67e22;
    color: #fff; /*color of the text inside te button*/
    margin-right: 10px;
}

.btn-full:active,
.btn-full:hover {
    border: 1px solid #bf6516;
    background-color: #bf6516;

}

.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #e67e22; /* solid is used to draw a border line */
    color: #e67e22;
}

.btn-ghost:active,
.btn-ghost:hover {
    border: 1px solid #bf6516; /* solid is used to draw a border line */
    color: #fff;
}

section {
    padding: 80px 0;
}

/*------------------------------------------------------*/
/*FEATURES*/
/*------------------------------------------------------*/
.section-features .long-copy {
    margin-bottom: 30px;
}

/*------------------------------------------------------*/
/*HEADER*/
/*------------------------------------------------------*/
header {
    background-image: linear-gradient( rgba(0, 0, 0, 0.7) , rgba(0, 0, 0, 0.7) ), url(img/hero.jpg);
    height: 100vh; /* vh is used for filling the whole view port with the image */
    background-size: cover; /* thhis will  make the image fill the whole front end of the screen */
    background-position: center; /* center the image according to the screens size */
}
.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); /* used for 2d translation */
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {    /* this format is used to select element inside an element here by putting li all the li elements are being selected*/
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
    padding-bottom: 5px;
    padding-top: 5px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%; /*here to make the webpage relative use the percentage as it will resize the text a relative order here 90% means 90% of the absolute text size that is 21px so the size is 19px*/
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s, color 0.2s;
}
.main-nav li a:active,
.main-nav li a:hover{
    border-bottom: 2px solid #e67e22;
    color: aqua;
}

/*------------------------------------------------------*/
/*MEALS*/
/*------------------------------------------------------*/
.meals-showcase {
    list-style: none;
    width: 100%;
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;

}

.meals-photo {
    width: 100%;
    margin; 0;
    overflow: hidden;
    background: #000;
}
.meals-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.2s, opacity 0.2s;
}

.meals-photo img:hover {
    transform: scale(1.04);
    opacity: 1;
}

.section-meals {
    padding: 0px;
}
/*------------------------------------------------------*/
/*HOW IT WORKS*/
/*------------------------------------------------------*/
